<!--Управление-->
<div class="d-flex flex-wrap justify-content-around">
  <div *ngFor="let employee of employeeService.ListEmployees">
    <div class="card card-employers">
      <img
        class="card-img-top img-fluid"
        src="assets/images/foto-emploers.png"
        alt=""
      />
      <div class="row">
        <div class="col-12 name-employers">
          <span>{{ employee.FirstName }}</span>
        </div>
        <div class="col-12 position-employers">
          <span>{{ employee.Position }}</span>
        </div>
      </div>
      <div class="col-12 ">
        <div class="row justify-content-center">
          <a [routerLink]="['/organization/employees/management']" class="btn card-button-edit">
            <i class="fas fa-pencil-alt"></i>
          </a>

          <a
            [routerLink]="['/organization/employees/management']"
            (click)="removeEmployee(employee)"
            class="btn card-button-remove"
          >
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
