<!--Управление-->
<div class="d-flex flex-wrap justify-content-around">
  <div *ngFor="let employee of employeeService.ListEmployees">
    <div class="card card-employers">
      <img
        class="card-img-top img-fluid"
        src="assets/images/foto-emploers.png"
        alt=""
      />
      <div class="row">
        <div class="col-12 name-employers">
          <span>{{ employee.FirstName }}</span>
        </div>
        <div class="col-12 position-employers">
          <span>{{ employee.Position }}</span>
        </div>
      </div>
      <div class="col-12 ">
        <div class="row justify-content-center">
          <a
            [routerLink]="['/organization/employees/update', employee.Id]"
            class="btn card-button-edit"
          >
            <i class="fas fa-pencil-alt"></i>
          </a>

          <a
            [routerLink]="['/organization/employees/management']"
            (click)="successRemove(employee)"
            class="btn card-button-remove"
          >
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div>
    </div>
    
 <!--Dialog Window-->
 <nopaper-dialog [(visible)]="isDialogShow">

    <div class="content-dialog">

      <div class="header-dialog">
        <h2>Подверждение действия</h2>
      </div>
      <div class="text-container">
        <div class="text-dialog">
          <i class="fas fa-4x fa-trash-alt"></i>
          <span
            >Вы действительно хотите удалить работника "{{nameEmployee}}"?</span
          >
        </div>
       
      </div>
      <div class="btn-container">
          <button (click)="removeEmployee(employee)" class="btn">
            Да
          </button>
          <button (click)="isDialogShow = !isDialogShow" class="btn">
              Нет
            </button>
        </div>
    </div>

  </nopaper-dialog>
  </div>


 
</div>
