<div class="boxesOfContent" id="notificationsButtonBox">
  <div class="card push mb-3">
    <div class="card-body">
      <h5 class="card-title text-left">Настройки</h5>
      <p class="card-text text-left">
        Все необходимые настройки были отправлены на ваш адресс электронной
        почты
      </p>
      <div class="push-help">
        <p>new</p>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      22:19
    </div>
  </div>
  <div class="card push mb-3">
    <div class="card-body">
      <h5 class="card-title text-left">Добро пожаловать в наш проект!</h5>
      <p class="card-text text-left">
        Мы сделаем вашу жизнь ярче и динамичнее. Работа с нами доставит вам
        комфорт и упростит вашу жизнь. Пользуйтесь полным пакетом услуг
        совершенно бесплатно, на все вопросы мы ответим по контактным данным,
        которые вы можете найти ниже. <br />
        Ваш новый друг nopaper.by!
      </p>
    </div>
    <div class="card-footer text-muted text-right">
      14/10/2018 22:19
    </div>
  </div>
</div>
