/*<!--------------Уведомления------------------->*/
.push-help {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #21be4a;
  border-radius: 0 0 0 5px;
  color: white;
  width: 60px;
  text-align: center;
}

.push-help p {
  margin-bottom: 0;
  padding-bottom: 3px;
}

.card.push {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0px !important;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.card.push .card-footer {
  border-top: 1px solid transparent !important;
  background: white;
  padding: 3px;
}
.card.push .card-body {
  padding: 0;
  padding: 10px 20px 0 20px;
}
.card.push .card-body p {
  margin-bottom: 0;
}
.card.push .card-title {
  font-weight: bold;
}
.text-muted {
  color: black !important;
  font-size: 14px;
}

