<form id="formOfDefaulSettings" action="#">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-12 firstColumnDefaultSettings">
      <div class="containerForPhotoBlock">
        <div class="photoBlockOfOrganization">
          <div class="photoOrganization">
            <img src="assets/images/profile.png" alt="" />
            <div class="newPhotoButtonsettiings" onclick="location.href='#';">
              <i class="fas fa-camera"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12 secondColumnDefaultSettings">
      <label class="labelForInput" for="loginOfOrganization">Телефон</label>
      <input
        type="text"
        class="inputOfInformation"
        id="phoneNumberOfOrganization"
        placeholder="Введите телефон"
      />

      <label class="labelForInput" for="loginOfOrganization"
        >Электронный адрес</label
      >
      <input
        type="text"
        class="inputOfInformation"
        id="emailOfOrganization"
        placeholder="Введите e-mail"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-12 firstColumnDefaultSettings">
      <label class="labelForInput" for="loginOfOrganization">Логин</label>
      <input
        type="text"
        class="inputOfInformation"
        id="loginOfOrganization"
        placeholder="Введите логин"
      />

      <label class="labelForInput" for="loginOfOrganization"
        >Название организации</label
      >
      <input
        type="text"
        class="inputOfInformation"
        id="nameOfOrganization"
        placeholder="Введите название организации"
      />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12 secondColumnDefaultSettings">
      <label class="labelForInput" for="loginOfOrganization">Пароль</label>
      <input
        type="password"
        class="inputOfInformation"
        id="passwordOfOrganization"
        placeholder="Введите пароль"
      />

      <label class="labelForInput" for="loginOfOrganization"
        >Повторите пароль</label
      >
      <input
        type="password"
        class="inputOfInformation"
        id="repeatPasswordOfOrganization"
        placeholder="Повторите пароль"
      />
    </div>
  </div>
  <div class="blockForAcceptButton">
    <button type="submit" class="acceptButtonInSettings">
      <span>Сохранить</span>
    </button>
  </div>
</form>
