.boxForButtonsAnalytics {
  padding-left: 0px;
}
.buttonsInBoxAnalytics {
  display: flex;
  flex-direction: column;
  width: 84%;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
}
.buttonBoxAnalytics span{
  transition: none;
}
.buttonBoxAnalytics {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 0px;
  flex-direction: column;
  font-weight: 600;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  color:#000;
  transition: 0s;
}
#buttonСontrol,
#buttonRevenue {
  border-bottom: 0px solid #dfdfdf;
}
.buttonBoxAnalytics:hover {
  background-color: #21be4a;
  color: white;
}
.selectedButtonOfAnalytics {
  background-color: #21be4a;
  color: white;
}
.buttonBoxAnalytics:active {
  background-color: #269e44;
}
.selectedBoxOfSelectedAnalytics {
  display: flex;
}
.active{
  background-color: #21be4a;
  color:#fff;
}



@media only screen and (min-width:1200px){
}

@media only screen and (max-width:1200px){ 
}

@media only screen and (max-width:992px){
  .buttonBoxAnalytics {
    font-size: 11px;
  }
    .buttonsInBoxAnalytics{
    width: 87%;
  }
}

@media only screen and (max-width:768px){
  .buttonsInBoxAnalytics{
    width: 105%;
  }
  .buttonBoxAnalytics {
    font-size: 15px;
  }
}

@media only screen and (max-width:576px){
}

@media only screen and (max-width:400px){
}