<header class="header">
  <div class="container">
    <div class="slide-wrapper">
      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="row">
            <!-- Wrapper for slides -->
            <div class="carousel-inner col-xl-9 col-10 align-self-center">
              <div class="carousel-item active">
                <div>
                  <h1 class="item-header">NoPaper -</h1>
                  <p class="item-content">
                    это платформа, которая поможет Вам сделать правильный выбор
                    при покупке абонемента, а также будет вашим личныи
                    ассистентом при покупке абонимента
                  </p>
                  <div class="row">
                    <div class="button-parther col-8 col-lg-4 col-xl-4">
                      <a href="#">
                        <span>СТАТЬ УЧАСТНИКОМ</span>
                        <i class="fas fa-arrow-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <h1 class="item-header">Lorem Ipsum</h1>
                <p class="item-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Doloremque magni, eos perferendis ducimus, dolorem quidem
                  officiis harum enim dolore accusamus facere veniam quaerat
                  incidunt rerum quod accusantium adipisci. Quaerat, aperiam!
                </p>
              </div>
              <div class="carousel-item">
                <h1 class="item-header">Какой-то заголовок</h1>
                <p class="item-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Itaque vero, laborum eos perspiciatis, totam architecto illo
                  recusandae quaerat repellendus maxime sunt quas, veniam autem.
                  Commodi est fugit numquam quis eum.
                </p>
              </div>
            </div>

            <!-- Indicators -->
            <ul class="indicators col-1 ml-auto align-self-center">
              <li
                class="active"
                data-target="#myCarousel"
                data-slide-to="0"
              ></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row cart-section">
        <div class="col-4">
          <a href="#" class="catalog-button">
            <i class="fas fa-book-open fa-2x"></i>
            <span>КАТАЛОГ</span>
          </a>
        </div>
        <div class="col-4">
          <a href="#" class="map-button">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <span>КАРТА</span>
          </a>
        </div>
        <div class="col-4">
          <a href="#" class="search-button">
            <i class="fas fa-search fa-2x"></i>
            <span>ПОИСК</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="advantages margin-section">
  <div class="container">
    <div class="basic-header">
      <h1>НАШИ ПРЕИМУЩЕСТВА</h1>
      <p>Мы сделаем вашу жизнь проще и комфортнее</p>
    </div>

    <div class="card-section">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img src="assets/images/statistics.png" />
            <h1>АНАЛИТИКА</h1>
            <p>
              Мы поможем организациям, на примере аналитики, увидеть свои слабые
              стороны
            </p>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-chain">
            <img src="assets/images/quick.png" />
            <h1>УДОБСТВО</h1>
            <p>Очень быстрая и комфортная покупка абонимента</p>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img src="assets/images/collaboration.png" />
            <h1>СОТРУДНИЧЕСТВО</h1>
            <p>Только вместе мы придем к намеченной цели</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="organization-section margin-section">
  <div class="container">
    <div class="basic-header">
      <h1>ОРГАНИЗАЦИИ</h1>
      <p>мы предлагаем компании с самыми лучшими предложениями!</p>
    </div>

    <div class="organization-block margin-section">
      <div class="row no-gutters">
        <div class="organization-name col-6">
          <h1 class="col-12">Женский фитнесс-клуб «Womanspace (Вуманспэйс)»</h1>
        </div>

        <div class="organization-description col-6">
          <p>
            Womanspace — фитнес-клуб только для женщин. Здесь нет «качков» и
            «селфи-красоток». Зато царит комфортная атмосфера дружелюбия и
            мотивации работы над собой.
          </p>
          <p>
            В фитнес-клубе не просто худеют к лету. В Womanspace любят себя и
            заботятся о своем здоровье.
          </p>
        </div>
      </div>

      <div class="images-block row no-gutters">
        <div class="col-3">
          <img src="assets/images/image1.jpg" />
        </div>
        <div class="col-3">
          <img src="assets/images/image2.jpg" />
        </div>
        <div class="col-3">
          <img src="assets/images/image3.jpg" />
        </div>
        <div class="col-3">
          <img src="assets/images/image4.jpg" />
        </div>
      </div>

      <div class="row no-gutters">
        <div
          class="col-6 row justify-content-end align-items-start button-navigation"
        >
          <a href="#"><i class="fas fa-arrow-left"></i></a>
          <a href="#"><i class="fas fa-arrow-right"></i></a>
        </div>

        <div class="col-6 details-link row no-gutters">
          <a class="details-button col-5" href="#">
            <span>узнать подробней</span>
            <i class="fas fa-angle-right"></i>
          </a>
        </div>
      </div>

      <div class="more-deatails row no-gutters justify-content-center">
        <a href="#" class="col-4">ПОСМОТРЕТЬ ЕЩЕ</a>
      </div>
    </div>
  </div>
</section>

<section class="shool-section container margin-section">
  <div class="basic-header">
    <h1>ДЕТСКИЕ ШКОЛЫ</h1>
    <p>а как же узнать о детских школах? мы поможем:)</p>
  </div>

  <div class="margin-section row no-gutters">
    <div style="background:rgb(163, 74, 74);" class="image-organization col-6">
      <img src="assets/images/image-shool1.jpg" />
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="description-organization col-6">
      <h2>Европейский цетр гимнастики</h2>
      <p>
        Европейский Центр Гимнастики всегда радостно встречает новых посетителей
        – как детей с 3-хлетнего возраста, так и подростков. Мы предлагаем
        выбрать любое интересующее вас направление – спортивная и художественная
        гимнастика, укрепляющая иммунитет гимнастика для оздоровления, а для
        более взрослых ребят – популярный паркур и акробатические занятия.
        Заложенная в детстве любовь к спорту и физической активности поможет
        ребенку быстрее развиваться и быть менее подверженным различным
        заболеваниям. А гимнастические тренировки всегда способствовали развитию
        не только физических умений, но и учили
      </p>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="description-organization col-6">
      <h2>Футбольный клуб «Динамо-Минск»</h2>
      <p>
        Занятия проходят на двух искусственных полях на стадионе «Динамо-Юни».
        За каждым тренером закреплена одна возрастная группа. В клубе есть два
        врача. В данный момент ребята переодеваются в вагончиках, но в ближайшее
        время, проблема будет решена (после реконструкции стадиона).
      </p>
    </div>
    <div style="background:rgb(163, 74, 74);" class="image-organization col-6">
      <img src="assets/images/image-shool2.jpg" />
      <a href="#"><i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

  <div class=" more-shool row justify-content-center margin-section">
    <a href="#" class="col-4">ПОСМОТРЕТЬ ЕЩЕ</a>
  </div>
</section>

<section class="news-section margin-section">
  <div class="container">
    <div class="basic-header">
      <h1>Новости</h1>
      <p>здесь вы можете узнать о самых свежих новостях проекта</p>
    </div>

    <div class="row new">
      <span class="line col-1">
        <hr />
        <a href="#"></a>
      </span>
      <a href="#" class="col-11">
        <h3>Акции и подарки</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint
        </p>
      </a>
    </div>

    <div class="row new">
      <span class="line col-1">
        <hr />
        <a href="#"></a>
      </span>
      <a href="#" class="col-11">
        <h3>Акции и подарки</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint
        </p>
      </a>
    </div>

    <div class="row new">
      <span class="line col-1">
        <hr />
        <a href="#"></a>
      </span>
      <a href="#" class="col-11">
        <h3>Акции и подарки</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint
        </p>
      </a>
    </div>
  </div>
</section>

<section class="about-section margin-section">
  <div class="container">
    <div class="basic-header">
      <h1>О НАС</h1>
      <p>для лучшего сотрудничества давайте познакомимся ближе</p>
    </div>
    <div class="about-description row justify-content-center">
      <div class="about-logo col-3">
        <img src="assets/images/about-logo.png" />
      </div>
      <div class="description col-6 align-self-center">
        <p>
          Мы молодая стремительно развивающаяся команда, которая не боится
          труднойстей и готова идти в ногу со временем. Главной цель нашей
          деятельности - это помочь людям!
        </p>
        <a href="#">ЗАРЕГИСТРИРОВАТЬСЯ</a>
      </div>
    </div>
  </div>
</section>
