/*<!--Контактные данные-->*/
/* #formContactsSettings {
  width: 100%;
}
.boxOfSettingsContacts {
  width: 100%;
} */
.secondColumnDefaultSettings{
  margin-bottom: 10px;
}
.selectOfInformation{
  margin-bottom: 5px;
}
@media only screen and (max-width:1200px){
   
}
@media only screen and (max-width:992px){
  .labelForInput, .selectOfInformation, .optionOfSelects{
    font-size: 14px;
  }
 
}
@media only screen and (max-width:768px){
 
}
@media only screen and (max-width:576px){

}

@media only screen and (max-width:400px){
  
}