<form id="formContactsSettings" action="#">
  <div class="row boxOfSettingsContacts">
    <div class="col-6 firstColumnDefaultSettings">
      <div class="row selectbox">
        <div class="col-6 firstColumnDefaultSettings">
          <label class="labelForInput" for="selectOfInformation">Страна</label
          ><br />
          <select class="selectOfInformation">
            <option class="optionOfSelects" value="2-">Беларусь</option>
            <option class="optionOfSelects" value="3-4">Россия</option>
            <option class="optionOfSelects" value="5-6">Хохлома</option>
            <option class="optionOfSelects" value="7-8">Польша</option>
            <option class="optionOfSelects" value="больше 9">Германия</option>
          </select>
        </div>
        <div class="col-6 secondColumnDefaultSettings">
          <label class="labelForInput" for="selectOfInformation">Город</label
          ><br />
          <select class="selectOfInformation">
            <option class="optionOfSelects" value="2-">Минск</option>
            <option class="optionOfSelects" value="3-4">Брест</option>
            <option class="optionOfSelects" value="5-6">Пинск</option>
            <option class="optionOfSelects" value="7-8">Дрогичин</option>
            <option class="optionOfSelects" value="больше 9">Херичин</option>
          </select>
        </div>
      </div>

      <label class="labelForInput" for="loginOfOrganization"
        >Улица, дом, офис</label
      >
      <input
        type="text"
        class="inputOfInformation"
        id="adressOfOrganization"
        placeholder="Введите адресс организации"
      />

      <label class="labelForInput" for="loginOfOrganization">Вконтакте</label>
      <input
        type="text"
        class="inputOfInformation"
        id="vkontakteOfOrganization"
        placeholder="Введите ссылку"
      />

      <label class="labelForInput" for="loginOfOrganization">Instagram</label>
      <input
        type="text"
        class="inputOfInformation"
        id="instagramOfOrganization"
        placeholder="Введите ссылку"
      />
    </div>
    <div class="col-6 secondColumnDefaultSettings">
      <label class="labelForInput" for="loginOfOrganization">E-mail</label>
      <input
        type="text"
        class="inputOfInformation"
        id="emailOfOrganization"
        placeholder="Введите ваш эл.адресс"
      />

      <label class="labelForInput" for="loginOfOrganization">Ваш сайт</label>
      <input
        type="text"
        class="inputOfInformation"
        id="siteOfOrganization"
        placeholder="Введите адресс сайта"
      />

      <label class="labelForInput" for="loginOfOrganization"
        >Номер телефона</label
      >
      <input
        type="text"
        class="inputOfInformation"
        id="phoneOfOrganization"
        placeholder="Введите номер телефона"
      />
    </div>
  </div>
  <div class="blockForAcceptButton">
    <button type="submit" class="acceptButtonInSettings">
      <span>Сохранить</span>
    </button>
  </div>
</form>
