.navbar-section {
  position: fixed;
  height: auto;
  width: 100%;
  padding: 20px 0;
  z-index: 10000;
}

.background-opacity {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(to bottom, #181f22, #3e4a4f);
  height: 100%;
  width: 100%;
}
.visible{
  opacity:1;
}
.black {
  opacity: 1;
}
/*Logo*/
.logo-block {
  z-index: 20;
}
.logo-block img {
  height: 50px;
}

/*Links*/
.links-block {
  margin-left: 20px;
  font-size: 16px;
}

.button-link {
  margin-right: 14px;
  color: #e7e8e8;
  border-radius: 5px;
  padding: 5px;
}
.button-link:hover:not(:first-child) {
  background: #21be4a;
  color: #e7e8e8;
}
.button-link:first-child {
  border-bottom: 2px dashed #abafb0;
  border-radius: 0;
}
.button-link:first-child:hover {
  border-bottom: 2px dashed #21be4a;
  color: #21be4a;
}

/*Register*/
.register-block {
  font-size: 16px;
}
.button-register {
  margin-left: 14px;
  padding: 3px 10px;
  color: var(--green-color);
  border: 1.5px var(--green-color) solid;
  border-radius: 5px;
}
.button-register:hover {
  color: #e7e8e8;
  background: #21be4a;
}

.navbar-section .menu-button {
  display:flex;
  justify-content:center;
  align-items:center;
  align-self: center;
  width:30px;
  height:30px;
  z-index: 10;
  display: none;
}
.navbar-section .menu-button .icon {
  width:30px;
  height:30px;
}
.navbar-section .menu-button:hover {
  color: #fff;
  cursor: pointer;
}

/*User*/
.user-block {
  font-size: 16px;
}
.border-user {
  border: 2px solid #e7e8e8;
  border-radius: 20px;
}
.button-user {
  background-image: url(/img/foto.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 14px;
  border: 1.5px #e7e8e8 solid;
  border-radius: 20px;
  width: 35px;
  height: 35px;
}

a.user > i {
  top: 4px;
  position: relative;
}
.user:focus .expand {
  color: #21be4a;
}
.user:focus .name-user {
  color: #21be4a;
}
.user:focus .border-user {
  border: 2px solid #21be4a;
}
.dropdown-user {
  margin-left: 35px;
}
.name-user {
  margin-left: 10px;
  color: #e7e8e8;
}
.expand {
  margin-left: 8px;
  color: #e7e8e8;
  font-size: 30px;
  text-decoration: none;
}

.navbar-section .menu-button {
  align-self: center;
  z-index: 1;
  display: none;
}
.navbar-section .menu-button:hover {
  color: #fff;
  cursor: pointer;
}

.drop-down-list {
  position: fixed;
  top: 36px;
}
.menu-cap {
  height: 70px;
  padding: 0px 0px 0px 12px;
  border-radius: 0px 0px 6px 6px;
  padding-left: 8px;
  background: linear-gradient(to bottom, #3e4a4f, #616769);

  border: none;
}
.border-list {
  border-right: 1px solid rgba(27, 27, 27, 0.1);
  width: 125px;
  margin-left: -8px;
  height: 70px;
  text-align: center;
  transition: 0s;
  padding: 0px;
}

.block-menu {
  text-align: center;
  width: inherit;
  z-index: 1000;
}
li.border-list > a > p {
  font-size: 13px;
  transition: 0s;
  color: #fff;
}
/*Наведение на список!!!*/
.border-list:hover {
  background-color: #21be4a;
}
.border-list:nth-child(1):hover {
  border-radius: 0px 0px 0px 5px;
}
.border-list:nth-child(6):hover {
  border-radius: 0px 0px 5px 0px;
}
.border-list:hover .icon-list {
  color: #fff;
}
.border-list:hover a p {
  color: #fff;
}
.list-inline-item {
  display: inline-flex;
}
.icon-list {
  padding-top: 10px;
  width: 30%;
  transition: 0s;
  filter: invert(100%) sepia(31%) saturate(0%) hue-rotate(94deg)
    brightness(112%) contrast(100%);
}
.border-list:hover .icon-list {
  filter: invert(100%) sepia(31%) saturate(0%) hue-rotate(94deg)
    brightness(112%) contrast(100%);
}

/* Start Menu Link*/
.menu-toggle {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #181f22, #3e4a4f);
  transition: 0.6s;
}

.menu-toggle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-toggle ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.menu-toggle ul li a {
  width: 90%;
  padding: 8px 12px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  background:rgba(255,255,255,0.04);
}
.menu-toggle ul li a:hover {
  background-color: #269e44;
}
/* End Menu Link*/

/* Start Menu Account for Desktop*/
.menu-account {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #181f22, #3e4a4f);
  width: 300px;
  height: 100vh;
  border-radius:20px 0px 0px 20px;
}
.menu-account i {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--green-color);
  font-size: 30px;
}
.menu-account i:hover {
  font-size: 29px;
  cursor: pointer;
  color: #269e44;
}
.register-block-response {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.register-block-response a {
  margin:0 20px 20px 20px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  padding: 8px 12px;
}
/* End Menu Account for Desktop*/

/*Start Menu Account for Mobile*/
.account-block-response {
  display: flex;
  flex-direction: column;
}
.img-account {
  display: flex;
  flex-direction: column;
}
.img-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-account-container {
  margin-top:10px;
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--green-color);
}
.img-account img {
  width: 100%;
  height: auto;
}
.img-account span {
  color: #fff;
  font-size: 24px;
  margin-top: 5px;
  font-weight: 600;
  color: var(--green-color);
}
.link-account {
  list-style: none;
}
.link-account li{
  display:flex;
  flex-direction:row;
}
.link-account li a {
  margin:5px 10px;
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  color:#fff;
  padding:10px 0;
  border-radius:20px;
  background:rgba(255,255,255,0.04);
}
.link-account li a img{
  margin-right:10px;
  margin-left:50px;
}
.icon-account {
  width: 40px;
  height:40px;
  filter: invert(100%) sepia(31%) saturate(0%) hue-rotate(94deg)
    brightness(112%) contrast(100%);
}
.open-icon{
  transition:0.3s;
}
.menu-button .close-icon{
  width:25px;
  height:25px;
}
/*End Menu Account for Mobile*/

/*Стили для адаптивности*/
@media (max-width: 1200px) {
  .register-block {
    display: none;
  }

  .navbar-section .toggle-register {
    display: block;
  }

  .navbar-section .container .row {
    justify-content: space-around;
  }
}
@media (max-width: 996px) {
  html {
    font-size: 14px;
  }
  .links-block {
    display: none;
  }
  .register-block {
    display: none;
  }
  .navbar-section .menu-links {
    display: block;
  }
  .navbar-section .menu-toggle ul li a {
    width: 50%;
  }
  .navbar-section .menu-account {
    width: 300px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .navbar-section .menu-toggle ul li a {
    width: 60%;
  }
  .navbar-section .menu-account {
    width: 300px;
  }
  .user-block {
    display: none;
  }
  .navbar-section .toggle-account {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .menu-links {
    margin-left: 15px;
  }
  .menu-button {
    margin-right: 15px;
  }
  .navbar-section .menu-toggle ul li a {
    width: 90%;
  }
  .navbar-section .menu-account {
    width: 300px;
  }
}
