<div class="contentDescriptOfOrg">
  <div class="nameOfSection"><span>Направления работы организации</span></div>
  <div class="boxForTextArea">
    <textarea
      class="textAreaInSettingsNew"
      name="AddNewDirection"
      id="AddNewDirection"
    >asfas</textarea
    >
  </div>
  <div class="blockForAddedButton">
    <button type="submit" class="acceptButtonInSettings">
      <span>Добавить</span>
    </button>
  </div>
  <br />
  <div class="lineWithOnesDirection">
    <div class="nameOfThisDirection">
      <span>занятия в студии единоборств и тренажерном зале;</span>
    </div>
    <div class="buttonForDeleteDirection">
      <div class="lineLeftInButton">
        <span>|</span>
      </div>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
  <div class="lineWithOnesDirection">
    <div class="nameOfThisDirection">
      <span>занятие стрипденсом;</span>
    </div>
    <div class="buttonForDeleteDirection">
      <div class="lineLeftInButton">
        <span>|</span>
      </div>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
  <div class="lineWithOnesDirection">
    <div class="nameOfThisDirection">
      <span>тайский бокс;</span>
    </div>
    <div class="buttonForDeleteDirection">
      <div class="lineLeftInButton">
        <span>|</span>
      </div>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</div>
