
/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0);
     -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
       -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); 
    -webkit-transform: translate3d(0,-100%, 0);
      -moz-transform: translate3d(0,-100%, 0);
      -ms-transform: translate3d(0,-100%, 0);
       -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
     -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

.carousel-inner{
    padding:0px;
    margin:0px;
}
.indicators li {
    background: #ccc;
    height: 13px;
    width: 13px;;
    border-radius: 50%;
    list-style-type: none;
    margin-top:10px;
    cursor: pointer;
    opacity: 0.15;
  }
.indicators .active{
    opacity: 1;
}