<div class="boxesOfContent" id="customersButtonBox">
  <div class="row">
    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>

    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>

    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>

    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="card-clients clients">
        <img src="assets/images/clients.png" alt="" class="card-img-top" />
        <div class="card-body">
          <p class="card-clients-text name">Сергей Король</p>
          <p class="card-clients-text work">фитнес-тренер</p>
        </div>
        <a href="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item br-l-null">Подробнее</li>
          </ul>
        </a>
      </div>
    </div>
  </div>
</div>
