<div class="content">
  <div class="container-fluid">
    <div class="d-flex justify-content-center header-text">
      <h1>Регистрация аккаунта</h1>
    </div>

    <div id="tabs">
      <ul class="menu-tabs row justify-content-center">
        <li class="col-4 col-xl-3 col-sm-4 d-flex justify-content-center">
          <a href="#tab-1">Пользователь</a>
        </li>
        <li class="col-4 col-xl-3 col-sm-4 d-flex justify-content-center">
          <a href="#tab-2">Для организации</a>
        </li>
      </ul>

      <div class="tab-container row justify-content-center">
        <div id="tab-1" class="tab-content col-xl-9">
          <div class="row input-group justify-content-center">
            <div
              class="field col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Ваше имя" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>

            <div
              class="field col-lg-5 col-sm-7 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Ваше имя" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>
          </div>

          <div class="row input-group justify-content-center">
            <div
              class="field col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Ваш e-mail" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>

            <div
              class="field col-lg-5 col-sm-7 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Придумайте логин" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>
          </div>

          <div class="row input-group justify-content-center">
            <div
              class="field col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Придумайте пароль" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>

            <div
              class="field col-lg-5 col-sm-7 ml-sm-5 mt-4 d-flex flex-column"
            >
              <input type="text" placeholder="Повторите пароль" />
              <span class="verification-field align-self-center"
                >Поле с именем не может быть пустым</span
              >
            </div>
          </div>

          <div
            class="row mb-5 justify-content-center align-items-center login-btn"
          >
            <a href="#" class="col-3">Стать нашим клентом</a>
          </div>
        </div>

        <div id="tab-2" class="tab-content col-xl-9">
          <div class="row input-group justify-content-center">
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mr-4 mr-sm-0 mt-4"
              type="text"
              placeholder="Название компании"
            />
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4"
              type="text"
              placeholder="Телефон"
            />
          </div>
          <div class="row input-group justify-content-center">
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mr-4 mr-sm-0 mt-4"
              type="text"
              placeholder="Ваш e-mail"
            />
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4"
              type="text"
              placeholder="Придумайте логин"
            />
          </div>
          <div class="row input-group justify-content-center">
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mr-4 mr-sm-0 mt-4"
              type="text"
              placeholder="Придумайте пароль"
            />
            <input
              class="col-lg-5 col-sm-7 ml-5 ml-sm-5 mt-4"
              type="text"
              placeholder="Повторите пароль"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
