<div class="contentDescriptOfOrg">
  <div class="sectionForPhotosInSettings">
    <div class="onesPhotoInSettings">
      <div class="deleteThisPhoto">
        <span>УДАЛИТЬ</span>
        <i class="far fa-trash-alt"></i>
      </div>
      <img src="assets/images/fitnesszal2.jpg" alt="image" />
    </div>
    <div class="onesPhotoInSettings">
      <div class="deleteThisPhoto">
        <span>УДАЛИТЬ</span>
        <i class="far fa-trash-alt"></i>
      </div>
      <img src="assets/images/fitnesszal2.jpg" alt="image" />
    </div>
    <div class="onesPhotoInSettings">
      <div class="deleteThisPhoto">
        <span>УДАЛИТЬ</span>
        <i class="far fa-trash-alt"></i>
      </div>
      <img src="assets/images/fitnesszal2.jpg" alt="image" />
    </div>
    <div class="addedPhotoInSettings">
      <i class="fas fa-camera"></i>
      <span>Загрузить <i class="fas fa-download"></i></span>
    </div>
  </div>
  <div class="blockForAcceptButton">
    <button type="submit" class="acceptButtonInSettings">
      <span>Сохранить</span>
    </button>
  </div>
</div>
