<div class="contentDescriptOfOrg">
  <div class="nameOfSection"><span>Количество</span></div>
  <div class="row selectbox">
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 selectHallNumber">
      <label class="labelSelectOfInformation" for="selectOfInformation"
        >Залов</label
      ><br />
      <select class="selectOfInformation">
        <option class="optionOfSelects" value="1">1 зал</option>
        <option class="optionOfSelects" value="2">2 зала</option>
        <option class="optionOfSelects" value="3">3 зала</option>
        <option class="optionOfSelects" value="3+">больше 3</option>
      </select>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 selectEmployeeNumber">
      <label class="labelSelectOfInformation" for="selectOfInformation"
        >Сотрудников</label
      ><br />
      <select class="selectOfInformation">
        <option class="optionOfSelects" value="5-">меньше 5</option>
        <option class="optionOfSelects" value="6-8">6-8 сотрудников</option>
        <option class="optionOfSelects" value="9-11">9-11 сотрудников</option>
        <option class="optionOfSelects" value="12-15">12-15 сотрудников</option>
        <option class="optionOfSelects" value="больше 15">больше 15</option>
      </select>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12 selectDirectionNumber">
      <label class="labelSelectOfInformation" for="selectOfInformation"
        >Направлений</label
      ><br />
      <select class="selectOfInformation">
        <option class="optionOfSelects" value="2-">меньше 2</option>
        <option class="optionOfSelects" value="3-4">3-4 направлений</option>
        <option class="optionOfSelects" value="5-6">5-6 направлений</option>
        <option class="optionOfSelects" value="7-8">7-8 направлений</option>
        <option class="optionOfSelects" value="больше 9">больше 9</option>
      </select>
    </div>
  </div>

  <div class="nameOfSection">
    <span>Расскажите кратко о вашей организации</span>
  </div>
  <div class="boxForTextArea">
    <textarea
      class="textAreaInSettings"
      name="descriptionArea"
      id="descriptionArea"
    >
safasf</textarea
    >
  </div>

  <div class="nameOfSection">
    <span>Какая атмосфера в вашей организации?</span>
  </div>
  <div class="boxForTextArea">
    <textarea
      class="textAreaInSettings"
      name="descriptionArea"
      id="descriptionArea"
    >
safasf</textarea
    >
  </div>

  <div class="nameOfSection">
    <span>Какое оборудование присутствует в вашей организации?</span>
  </div>
  <div class="boxForTextArea">
    <textarea
      class="textAreaInSettings"
      name="descriptionArea"
      id="descriptionArea"
    >
safasf</textarea
    >
  </div>

  <div class="nameOfSection">
    <span>Какие условия у вашей организации?</span>
  </div>
  <div class="boxForTextArea">
    <textarea
      class="textAreaInSettings"
      name="descriptionArea"
      id="descriptionArea"
    >
safasf</textarea
    >
  </div>

  <div class="blockForAcceptButton">
    <button type="submit" class="acceptButtonInSettings">
      <span>Сохранить</span>
    </button>
  </div>
</div>
