<footer class="footer">
  <div class="container">
    <div class="pos-footer row justify-content-around">
      <div class="col-3 footer-block1 ml-5">
        <div class="col-12 ml-3">
          <span>ПРИСОЕДИНЯЙТЕСЬ К НАМ</span>
        </div>
        <div class="col-12 indent-block1">
          <div class="row justify-content-around">
            <a href="">
              <div class="Vk block-network">
                <i class="fab fa-vk footer-icon"></i>
              </div>
            </a>
            <a href="">
              <div class="Instagram block-network">
                <i class="fab fa-instagram footer-icon"></i>
              </div>
            </a>
            <a href="">
              <div class="Facebook block-network">
                <i class="fab fa-facebook-f footer-icon"></i>
              </div>
            </a>
            <a href="">
              <div class="Twitter block-network">
                <i class="fab fa-twitter footer-icon"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4 footer-block2">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item ">
            <a href="" class="list-block2">Организации</a>
          </li>
          <li class="list-inline-item">
            <a href="" class="list-block2">Детские школы</a>
          </li>
          <li class="list-inline-item">
            <a href="" class="list-block2">Новости</a>
          </li>
          <li class="list-inline-item">
            <a href="" class="list-block2">О нас</a>
          </li>
        </ul>
      </div>
      <div class="col-4 footer-block3">
        <div class="col-12">
          <div class="row">
            <div class="col-1 icon-block3">
              <i class="fas fa-phone"></i>
            </div>
            <div class="col-10 text-block3">
              <span>+ 375 (29) 340-11-22</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-1 icon-block3">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="col-10 text-block3">
              <span>simple@simple.by</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-1 icon-block3">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col-10 text-block3">
              <span>г. Минск, пр. Независимости, 14</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 footer-block4 mr-5">
        <img src="/img/simvl.png" alt="" />
        <span>2018 Simple. Все права защищены.</span>
      </div>
    </div>
  </div>
</footer>
