<!--Все сотрудники-->
<div class="boxOfSelectedEmployers" id="buttonEmployersBox">
  <div class="catalog-content-container">
    <!-- Первая страница каталога -->
    <div class="catalogContent curry">

      <div class="row justify-content-center">

        <!--Карточуи без рейтинга-->
        <div class="col-lg-4 col-md-6 col-sm-8 col-10">
          <a href="">
            <div class="card card-employers">
              <img
                class="card-img-top img-fluid"
                src="assets/images/foto-emploers.png"
                alt=""
              />
              <div class="row">
                <div class="col-12 name-employers">
                  <span>Анасасия Ивлева</span>
                </div>
                <div class="col-12 position-employers">
                  <span>HR-менеджер</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a href="" class="btn card-button">Подробнее</a>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-8 col-10">
          <a href="">
            <div class="card card-employers">
              <img
                class="card-img-top img-fluid"
                src="assets/images/foto-emploers.png"
                alt=""
              />
              <div class="row">
                <div class="col-12 name-employers">
                  <span>Анасасия Ивлева</span>
                </div>
                <div class="col-12 position-employers">
                  <span>HR-менеджер</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a href="" class="btn card-button">Подробнее</a>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-8 col-10">
          <a href="">
            <div class="card card-employers">
              <img
                class="card-img-top img-fluid"
                src="assets/images/foto-emploers.png"
                alt=""
              />
              <div class="row">
                <div class="col-12 name-employers">
                  <span>Анасасия Ивлева</span>
                </div>
                <div class="col-12 position-employers">
                  <span>HR-менеджер</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a href="" class="btn card-button">Подробнее</a>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
