<!--Все сотрудники-->
<div class="d-flex flex-wrap justify-content-around">
  <div *ngFor="let employee of employeeService.ListEmployees">
    <a href="">
      <div class="card card-employers">
        <img
          class="card-img-top img-fluid"
          src="assets/images/foto-emploers.png"
          alt=""
        />
        <div class="row">
          <div class="col-12 name-employers">
            <span>{{ employee.FirstName }}</span>
          </div>
          <div class="col-12 position-employers">
            <span>{{ employee.Position }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="" class="btn card-button">Подробнее</a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
